$font-stack: 'Work Sans', sans-serif, Arial, Helvetica;
$secondarytextcolor: rgba(143, 142, 142, 0.699);
$placeholdercolor: rgba(128, 128, 128, 0.699);
$greenbuttonbackgroundcolor:  #51A837;
$primarybuttonbackgroundcolor:white;
